table {
  margin-bottom: 12px;
}
.product-image-cart {
  width: 30%;
}
.totalContainer {
  display: flex;
  padding: 20px;
  font-size: 25px;
  color: #000;
  flex-direction: row;
}
.tolatLbl {
  width: 30%;
}

.tolatLbl {
  width: 70%;
}
